<div class="footer" fxLayout="row">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <div>
            <a href="https://www.economizenergia.com.br/" target="_blank" mat-button fxFlex="0 0 auto" fxLayout="row"
                fxLayoutAlign="start center">
                <img style="max-width: 140px;" src="assets/images/logos/logo.png">
            </a>
            <!-- <a href="mailto:suporte@economizenergia.com.br?Subject=" style="align-self: center;">
                Alguma duvida? suporte@economizenergia.com.br</a> -->
        </div>
        <div class="info">
            <div fxLayout="row" style="margin-left: -80%; font-size: 0.7rem;">
                &copy;2021 Todos os direitos reservados a ECONOMIZENERGIA GESTÃO EMPRESARIAL LTDA <br />CNPJ
                31.331.956/0001-08
                <p style="margin-left: 100px;">v0.2</p>
            </div>
        </div>
    </div>
</div>