
#rightcolumn {
    text-align: center;
    border: 1px solid white;
    display: block;
  }
  
#leftcolumn {
    text-align: center;
    width: 55%;
    display: block;
    float: left;
    border: 1px solid white;
}
#button {
    text-align: center;
  }
  
#input {
    text-align: center;
    display: block;
    float: left;
    border: 1px solid white;
}